### ML assignment 5
#### Implement Random Forest Classifier model to predict the safety of the car.

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
car=pd.read_csv("car_evaluation.csv")

In [12]:
car.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [13]:
columns=['Buying price','Maintainance cost','Number of doors','Number of persons','lug_boot','safety','decision']
car=pd.read_csv("car_evaluation.csv",names=columns)

In [14]:
car

,Buying price,Maintainance cost,Number of doors,Number of persons,lug_boot,safety,decision
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc
...,...,...,...,...,...,...,...
1723,low,low,5more,more,med,med,good
1724,low,low,5more,more,med,high,vgood
1725,low,low,5more,more,big,low,unacc
1726,low,low,5more,more,big,med,good
1727,low,low,5more,more,big,high,vgood

In [15]:
car.head()

,Buying price,Maintainance cost,Number of doors,Number of persons,lug_boot,safety,decision
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

In [16]:
car['Buying price'].value_counts()

Buying price
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64

In [17]:
car['Maintainance cost'].value_counts()

Maintainance cost
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64

In [18]:
car['Number of doors'].value_counts()

Number of doors
2        432
3        432
4        432
5more    432
Name: count, dtype: int64

In [19]:
car['Number of persons'].value_counts()

Number of persons
2       576
4       576
more    576
Name: count, dtype: int64

In [20]:
car['lug_boot'].value_counts()

lug_boot
small    576
med      576
big      576
Name: count, dtype: int64

In [21]:
car['safety'].value_counts()

safety
low     576
med     576
high    576
Name: count, dtype: int64

In [22]:
car['decision'].value_counts()

decision
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [24]:
for column in car.columns:
    car[column]=label_encoder.fit_transform(car[column])

In [25]:
car.head()

,Buying price,Maintainance cost,Number of doors,Number of persons,lug_boot,safety,decision
0,3,3,0,0,2,1,2
1,3,3,0,0,2,2,2
2,3,3,0,0,2,0,2
3,3,3,0,0,1,1,2
4,3,3,0,0,1,2,2

In [26]:
X=car.drop(['decision'],axis=1)
Y=car['decision']

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [29]:
rfc.fit(X_train,Y_train)

RandomForestClassifier()

In [30]:
Y_predict=rfc.predict(X_test)

In [31]:
Accuracy=rfc.score(X_test,Y_test)

In [32]:
print(f"Accuracy of safety of cars is {Accuracy*100 : 0.2f}%.")

Accuracy of safety of cars is  96.53%.